.container {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 30% 70%;
    grid-template-areas: "left right";
}

.instructions {
    font-family: monospace;
    color: bisque;
    margin: 1rem 0.2rem;
}

label {
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
}

.output {
    text-align: center;
    grid-area: right;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
}

.kept, .left {
    font-family: "Thasadith",  serif;
    background-color: #111;
    color: rgb(219, 219, 219);
}

.kept {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {
    .kept {
        font-size: 0.8rem;
        display: block;
    }
}