.container {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 30% 70%;
    grid-template-areas: "left right";
}

.output {
    grid-area: right;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
}

.kept, .left {
    background-color: #111;
    color: rgb(219, 219, 219);
}