input {
    margin: auto;
    padding: 0.2rem;
    width: 100%;
}

input:active {
    border: none;
    outline-style: none;
}

.keystroke {
    color: coral;
    text-decoration: underline;
}

span#clear {
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 1px solid coral;
    color: coral;
    transition: all 0.2s ease-in-out;

    margin: 0.5rem 0;
}

span#clear:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.178);
}
